# Python Data Type

# 1. list

* It can store various values in the same variable.
* It can store different types of values such as character, number and Nan type.
* It can store other list type variables.

In [1]:
x = [] # the way to declare that the variable is a list type of data
type(x)

list

In [3]:
x2 = [10,20,30]
print(type(x2), len(x2)) # len(x2) : count the values in the variable

<class 'list'> 3

## 1.1 indexing

In [4]:
x2[0]

10

In [6]:
x2[2]

30

In [7]:
x2[-1] # the last value

30

## 1.2 slicing

In [8]:
x2[0:2]

[10, 20]

In [9]:
x2[1:] # from index number 1 to the end

[20, 30]

In [11]:
x2[:-1] # from the first to -1(-1) = -2

[10, 20]

You can change, append and delete a value from the list type of data.

In [15]:
x2[0] = 100 # means you will put 100 into x2[0], which is originally 10.
x2

[100, 200, 300]

In [16]:
x2[1:3] = [200,300] # you can slice and change
x2

[100, 200, 300]

In [21]:
x2.append(400) # you can add a value to the end of the variable
x2

[100, 200, 300, 400]

In [28]:
x2.insert(4, 500) # add 500 into index number 4
x2

[100, 200, 300, 400, 500]

In [29]:
x3 = [600, 700]
x2.extend(x3) # you can extend the variable x2 using the variable x3
x2

[100, 200, 300, 400, 500, 600, 700]

In [30]:
x2.pop() # it deletes the last value in the variable

700

In [31]:
x2.pop(4) # you can specify the value you want to delete by the index number

500

In [32]:
del x2[3] # delete the value of index number 3

In [33]:
x2

[100, 200, 300, 600]

In [34]:
del x2 # delete the whole variable

You can count the values which are the same.

In [35]:
drink = ['coke','sprite','coke','fanta','sprite','coke']
len(drink)

6

In [36]:
drink.count('coke')

3

In [37]:
drink.index('coke',3) # where is 'coke' after index number 3

5

In [38]:
drink.find('coke') # find worked with character type of data, but it doesn't work here

AttributeError: 'list' object has no attribute 'find'

In [39]:
drink.remove('coke') # it deletes 'coke' from the first one.

In [40]:
drink

['sprite', 'coke', 'fanta', 'sprite', 'coke']

In [41]:
drink.remove('coke')
drink

['sprite', 'fanta', 'sprite', 'coke']

In [42]:
drink.remove('coke')
drink

['sprite', 'fanta', 'sprite']

## 1.3 Two-dimensional lists

In [43]:
x = [1,2,3,['a','b','c'],4,5] # ['a','b','c'] list data is in x
type(x)

list

In [44]:
type(x[0]) # 1

int

In [45]:
type(x[3]) # ['a','b','c']

list

In [46]:
x[3][0] # index number 0 in ['a','b','c']

'a'

In [47]:
x[3].append('d')
x

[1, 2, 3, ['a', 'b', 'c', 'd'], 4, 5]

In [48]:
del x[3][0]
x

[1, 2, 3, ['b', 'c', 'd'], 4, 5]

In [49]:
x[0] = x[0] * 10
x[3][0] = x[3][0] * 2
x

[10, 2, 3, ['bb', 'c', 'd'], 4, 5]

In [52]:
x.clear() # means you removes all the values in the variable
# del x means you delete the variable itself
x

[]

In [53]:
x = [1,5,3,4,2]
x.sort() # sort the values in the variable

In [54]:
x

[1, 2, 3, 4, 5]

In [55]:
x.sort(reverse = True)
x

[5, 4, 3, 2, 1]

In [56]:
x = [1,5,3,4,2]
sorted(x) # this doesn't change the variable, but just shows you the example

[1, 2, 3, 4, 5]

In [57]:
x

[1, 5, 3, 4, 2]

In [58]:
x[::-1] # from the first to the end, reversed
# just shows you the sample

[2, 4, 3, 5, 1]

In [59]:
x

[1, 5, 3, 4, 2]

In [60]:
x.reverse() # it actually changes the variable

In [61]:
x

[2, 4, 3, 5, 1]

# 2. tuple

* It is very similar to list, but you can't add, remove or change values in a variable once you declare the variable.
* It is faster than a list type of data because you can't do things above.

In [62]:
t = ()
type(t)

tuple

In [63]:
t2 = 10,20,30 # you can omit the parenthesis when you put more than one value

In [64]:
type(t2)

tuple

In [65]:
t2.append(40) # you can't add anything

AttributeError: 'tuple' object has no attribute 'append'

In [66]:
t3 = (1,) # it you want to make a variable a tuple type but have only one value, add ','(comma) after the value.

In [68]:
type(t3)

tuple

In [69]:
t4 = ('a','b',('ab','ac')) # Two-dimensional tuple
type(t4)

tuple

In [70]:
# you can combine two different tuples
x = (1,2,3)
y = (4,5,6)
c = x + y
c

(1, 2, 3, 4, 5, 6)

In [71]:
one, two, three = x # make three variables(one, two, three) and put values(1,2,3) in x into them

In [72]:
print(one, two, three)

1 2 3